@import "src/styles";

@mixin button-theme($theme) {
  background-color: map-get($theme, base);
  &[disabled] {
    background-color: map-get($theme, disabled);
  }

  &:active {
    background-color: map-get($theme, active);;
  }
}

$selectors: ".module,body.alternate .module";

button {
  padding: 0.8rem 1rem 0.8rem 1rem;

  color: white;
  border: none;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  
  @each $name, $theme in $themes {
    &.theme-#{$name} {
      @include button-theme($theme)
    }
  }
}
