@import "src/styles";

.wrapper {
  padding: 0.2rem;

  transition-duration: 300ms;

  * {
    transition-duration: 300ms;
  }

  input {
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    flex-grow: 1;
  }

  &:focus-within {
    background-color: $focus-background-color;


    outline: -webkit-focus-ring-color auto 1px;

    input {
      background-color: $focus-background-color;
    }
  }

  border: 1px solid gray;
  border-radius: 0.3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
