@import "src/styles";

@mixin button-theme($theme) {
  background-color: map-get($theme, base);
  color: map-get($theme, text);
  &:hover {
    background-color: map-get($theme, hover);
  }
  &:active {
    background-color: map-get($theme, active);
  }
}

$sizes: (sm: 1rem, md: 1.5rem, l: 2rem, xl: 2.5rem);
button {
  border: transparent;

  border-radius: 0.5rem;
  transition-duration: 300ms;
  padding: 0;
  @each $name, $theme in $themes {
    &.theme-#{$name} {
      @include button-theme($theme)
    }
  }

  @each $name, $size in $sizes {
    &.size-#{$name} {
      height: $size;
      width: $size;
    }
  }
}

